<!DOCTYPE html>
<!--
TEMPLATE
Name: Yacht Club
Version: 1.0
Created: 22 January 2014

AUTHOR
Design and code by: http://www.bootshape.com
Free stock photos by: http://www.bootshape.com

LICENSE
Bootshape Rights
All resources available for download on Bootshape, including but not limited to, PSD, Templates, Snippets, Themes, are royalty free for use in both personal and commercial projects.

Rights
You are permitted to use the resources for any number of personal and commercial projects. You may modify the resources according to your requirements and include them into works, such as websites, applications or other materials intended for sale. No attribution or link back to Bootshape.com site is required, however any credit will be much appreciated.

Prohibitions
You do not have the rights to redistribute, resell, lease, license, sublicense or offer files downloaded from Bootshape to any third party “as is” or as a separate attachment from any of your work. If you wish to promote our resources on your site, you must link back to the resource page where users can find the download and not directly to the download file.
If you have any questions about the License, feel free to Contact us. ( bootshape.com@gmail.com )
 
Note: All featured resources are trademarks of their respective owners. Be sure to check out the proper use with the resource author before you do anything with it.

Read full license: http://www.bootshape.com/license/

CREDITS:
Background: http://subtlepatterns.com/ (white_wall_hash)
Fonts: http://www.google.com/fonts (Courgette, Belgrano)

SUPPORT
E-mail: bootshape.com@gmail.com
Contact: http://www.bootshape.com/contact/
-->
<html>
  <head>
    <title>Yacht Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Belgrano|Courgette&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    <!--Bootshape-->
    <link href="css/bootshape.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Yachts Club</h1>
	<p>
    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>