html,
body {
  min-width: 100%;
  min-height: 100%;
  background: url('img/fabric_of_squares_gray_@2X.png');
  background-repeat: repeat;
  font-family: "Carrois Gothic";
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.footer {
  padding: 10px;
}
.footer a {
  color: #d74900;
}
.bootshape {
  padding-top: 40px;
}
.bootshape .main {
  background: #fff;
}
.bootshape .main .head {
  padding: 15px 30px;
  background: url('img/bg.jpg');
  background-size: cover;
}
.bootshape .main .head .person {
  font-size: 22px;
  color: #fff;
}
.bootshape .main .head .person img {
  height: 60px;
  border-radius: 55em;
}
.bootshape .main .head .icons {
  font-size: 20px;
  line-height: 60px;
  color: #9e9489;
  font-family: 'Alegreya Sans';
}
.bootshape .main .head .icons span {
  cursor: pointer;
}
.bootshape .main .head .icons span:hover {
  color: #e17239;
}
.bootshape .main .navigation {
  background: #d74900;
}
.bootshape .main .navigation table {
  margin: 0;
}
.bootshape .main .navigation td {
  border-top: none !important;
  white-space: nowrap;
  padding: 0;
}
.bootshape .main .navigation td a {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.bootshape .main .navigation td a:hover {
  background: #e1753e;
}
.bootshape .main .navigation td a.current:hover:after {
  border-top-color: #e17239;
}
.bootshape .main .navigation td a.current:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 4px;
  border: 4px solid transparent;
  border-top: 4px solid #d74900;
  left: 50%;
  margin-left: -2px;
}
.bootshape .main .navigation td + td {
  border-left: 1px solid #e17239;
}
.bootshape .main .search-form {
  margin: 15px 30px;
  font-family: 'Alegreya Sans';
}
.bootshape .main .search-form input {
  padding-left: 35px;
  border-radius: 20px;
}
.bootshape .main .search-form span {
  left: 0;
  top: 0;
}
.bootshape .main .pagination {
  font-family: 'Alegreya Sans';
  margin: 0 0 5px 0;
}
.bootshape .main .pagination li {
  font-size: 16px;
}
.bootshape .main .pagination li.active a {
  border: 1px solid #d74900;
  background: none;
  color: #d74900;
}
.bootshape .main .pagination li:hover a {
  border: 1px solid #d74900;
  background: none;
  color: #d74900;
}
.bootshape .main .pagination li a {
  padding: 4px 11px;
  margin: 0 2px;
  border-radius: 55em;
  border: none;
  color: #8a8a8a;
  border: 1px solid transparent;
}
.bootshape .main .list img {
  height: 60px;
  border-radius: 55em;
  position: relative;
  top: -20px;
}
.bootshape .main .list td {
  padding: 20px 30px;
  border-top: none !important;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.bootshape .main .list td .user-info {
  padding-left: 15px;
  display: inline-block;
}
.bootshape .main .list td .user-info h2 {
  margin: 0 0 5px 0;
}
.bootshape .main .list td .user-info .icons {
  color: #8a8a8a;
}
.bootshape .main .list td .user-info .icons span {
  margin-right: 5px;
}
.bootshape .main .list td .triangle {
  background-image: url('img/triangle.png');
  background-size: cover;
  width: 20px;
  height: 33px;
  position: absolute;
  right: 0px;
  top: 23px;
}
@media (min-width: 768px) {
  .bootshape .main {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .bootshape .main {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .bootshape .main {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .bootshape {
    padding: 0;
  }
  .bootshape .main {
    width: 100%;
  }
  .bootshape .main .navigation {
    font-size: 12px;
  }
}
