doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content   