body {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
    font-family: 'Actor', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Actor', serif;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #B4DBB9;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #B4DBB9;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #B4DBB9;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #777;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-brand {
    font-size: 30px;
    padding: 25px 15px;
    font-family: 'Duru Sans', sans-serif;
}
.navbar-default .navbar-brand {
    color: #000;
}
.jumbotron {
    background-color: transparent;
    padding: 70px 0 0 0;
}
.green {
    color: #5cb85c;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail {
    background-color: transparent;
    border: none;
}
.thumbnail > img {
    max-width: 60%;
}

.thumbnail .btn {
    padding-left: 20px;
    padding-right: 20px;
}
.footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
